{% schema %}
{
  "name": "Frase Animada",
  "settings": [],
  "blocks": [
    {
      "type": "frase",
      "name": "Frase",
      "settings": [
        {
          "type": "text",
          "id": "texto",
          "label": "Texto da Frase"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Frase Animada",
      "category": "Custom"
    }
  ],
  "max_blocks": 2
}
{% endschema %}

<div class="marquee">
  <ul class="marquee-content">
    {% for block in section.blocks %}
      <li><p>{{ block.settings.texto }}</p></li>
    {% endfor %}
    {% for block in section.blocks %}
      <li><p>{{ block.settings.texto }}</p></li>
    {% endfor %}
  </ul>
</div>

<style>
  .marquee {
    width: 100%;
    height: 2.2em;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    position: relative;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 30s linear infinite;
  }
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: max-content;
    max-height: 100%;
    white-space: nowrap;
  }
  .marquee-content li p {
    margin-inline: 3em;
    font-size: 14px;
  }
  @media (max-width: 600px) {
    html { font-size: 12px; }
    .marquee {
      height: 3em;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const marqueeContent = document.querySelector("ul.marquee-content");
    const itemsToClone = marqueeContent.children.length;
    for (let i = 0; i < itemsToClone; i++) {
      marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
    }
  });
</script>
