.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 0;
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__content-bottom {
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer__column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.footer__newsletter-form input[type="text"],
.footer__newsletter-form input[type="email"],
.footer__newsletter-form button {
  margin: 5px 0;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
}

.footer__newsletter-form button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer__newsletter-form button:hover {
  background-color: #333;
}

.footer__payment-methods img {
  max-width: 50px;
  margin: 5px;
}

.footer__list-menu a {
  display: block;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
  border: none;
}

.footer__list-menu a:hover {
  text-decoration: underline;
  color: black;
  background: transparent;
}

.footer__support button {
  padding: 10px 20px;
  font-size: 1.7rem!important;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.footer__support button:hover {
  background-color: #333;
}

.footer__company-info p, .footer__design-credit p {
  margin: 5px 0;
}

.footer__company-info {
  flex: 1;
  text-align: left;
  padding: 10px;
  padding-top: 79px!important;
  padding-left: 180px!important;
}

.footer__design-credit {
  flex: 1;
  text-align: right;
  padding: 10px;
}

.img-google img {
  display: block;
  margin: 40px auto 0!important;
  width: 100%;
  max-width: 150px;
}

.footer__menus {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.copy {
  text-align: center;
  flex: 1;
  padding: 10px;
  margin-top: 90px;
}
.payment-box {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 750px) {
  h2, .h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 749px) {
  .footer__content-top, .footer__content-bottom-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__column {
    text-align: center;
    padding: 10px 0;
  }

  .footer__company-info, .footer__design-credit {
    text-align: center;
    padding: 10px;
  }

  .footer__menus {
    flex-direction: column;
    align-items: center;
  }

  .img-google img {
    margin: 20px auto 0;
  }
}
